* {
    --black: hsl(0, 0%, 11%);
    --white: hsl(55, 25%, 90%);
    
    margin: 0;
    padding: 0;
 
   
 }
 
 html {
    scroll-behavior: smooth;
    color: var(--black);
 }
 
 body {
    display: flex;
 }
 
 .marginVisualizer {
    width: 100%;
    height: calc(50% - 1px);
 
    position: fixed;
    top: 0;
    left: 0;
 
    background: hsla(0, 0%, 0%, 0.1);
    border: none;
    pointer-events: none;
 }

 .mainTitle
 {   
   font-family: 'Nabla', cursive;
 }
 
 .marginVisualizer + .marginVisualizer {
    top: unset;
    bottom: 0;
 }
 
 /* Left column --------------------- */
 ul {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: 250px;/* auto;    */
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    height: 100%;
 }
 
 li {
   width: 250px;
   box-sizing: border-box;
   display:contents;
   font-family: 'Kanit', sans-serif;
   text-decoration: none;
    /*border: 1px solid var(--black);*/
 }

 section{
    font-family: 'Kanit', sans-serif;
    font-size: medium;
 }
 
 a {   
   padding: 16px 50px;
   color: inherit;
   text-decoration: none;
 }

 a:hover
 {
   background: var(--black);
   color: var(--white);
   text-decoration: none;
 }
 
 .highlight {
    background: var(--white);
    color: var(--black);
 }
 
 /* Right column --------------------- */
 main {
    flex-grow: 1;
 
    display: flex;
    flex-direction: column;
 }
 
.content
{
    font-size: large;
}
 
.about-section {
    border: 2px solid #888888 !important;
    background-color: #dedede !important;
    padding: 20px !important;
    border-radius: 8px !important;
    margin: 20px !important;
    overflow-y: auto;    
    width: 100%;               /* Ajusta el ancho de la sección */
    max-height: 500px;  
    display: block;
}

 section {
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
 }

