* {
    --black: hsl(0, 0%, 11%);
    --white: hsl(55, 25%, 90%);
    
    margin: 0;
    padding: 0;
 
   
 }
 
 html {
    scroll-behavior: smooth;
    color: var(--black);
 }
 
 body {
    display: flex;
 }
 
 .marginVisualizer {
    width: 100%;
    height: calc(50% - 1px);
 
    position: fixed;
    top: 0;
    left: 0;
 
    background: hsla(0, 0%, 0%, 0.1);
    border: none;
    pointer-events: none;
 }
 
 .marginVisualizer + .marginVisualizer {
    top: unset;
    bottom: 0;
 }
 
 /* Left column --------------------- */
 ul {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: auto;    
    display: flex;
    flex-direction: column;
 }
 
 li {
   box-sizing: border-box;
    display: flex;
    font-family: 'Kanit', sans-serif;
    /*border: 1px solid var(--black);*/
 }

 section{
    font-family: 'Kanit', sans-serif;
    font-size: medium;
 }
 
 a {
   color: black;
    /*padding: 16px 50px;*/
    /*color: inherit;*/
 }
 
 .highlight {
    background: var(--black);
    color: var(--white);
 }
 
 /* Right column --------------------- */
 main {
    flex-grow: 1;
 
    display: flex;
    flex-direction: column;
 }
 
 section {
    height: 80vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
 }